.review{
  background-color: var(--color-white);
  padding: 1rem 4rem;
  margin: 2rem;
  color: var(--color-grey-dark-3);
  position: relative;
  &__text{
    font-size: var(--font-size-default);

    z-index: 2;
    &::before{
      content: "\201C";
      font-family: sans-serif;
      position: absolute;
      top: -1rem;
      left: 0;
      font-size: 8rem;
    }
  }
  &__user-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1rem 0;
  }
  &__user-photo{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    margin: 1rem;
  }
  &__user{
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
  }
  &__user-name{

  }
  &__date{

  }
  &__user-rating{
    padding: 1rem;
    font-size: 2.4rem;
    font-weight: 300;
    color: var(--color-primary);
  }

}
